/* -----Default----- */

* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  background-color: #e4dede;
}

.app {
  width: 100%;
}

._container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

._input {
  width: 100%;
  max-width: 300px;
  outline: none;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  transition: all 1s;
  caret-color: chocolate;

  &:hover {
    transform: scale(1.05);
  }
}

._button {
  border-radius: 3px;
  border: none;
  transition: all 1s;
  background-color: #70c1ec;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #3c92c0;
  }
}

@media (max-width: 420px) {
  ._input {
    width: 250px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome {
  text-align: center;
  padding: 20px;
}
.welcome h1 {
  margin-bottom: 20px;
}

@media (max-width: 460px) {
  ._container {
    width: 98%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.checkbox-completed__link {
  text-decoration: none;
  color: inherit;
}

.checkbox-completed__container {
  display: block;
  position: relative;
  pointer-events: none;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #eee;

  &:after {
    content: "";
    position: absolute;
    display: none;
    pointer-events: none;
  }
}
